{% extends "base.html" %}

{% block content %}
    <div>
      <a id="about"></a>
      <h3>このサイトについて</h3>
      <p>2ちゃんねるの「機動戦士ガンダムバトルオペレーション晒しスレ」で言及された ID を集計し、検索しやすくしたサイトです。</br>
      あくまで言及されている ID の集計であり、プラス方向の言及であるのか、マイナス方向の晒しであるのかは区別していません。</p>
    </div>
    <hr>
    <div>
      <a id="difference"></a>
      <h3>現行運用版（<a href="http://utils.es.land.to/bo/index.php">バトオペ晒されID検索</a>）との違いについて</h3>
      <p>このサイトは、ログの収集解析を自動化できる環境でテスト的に運用しているものです。</br>
      （現行運用版は、レンタルサーバの制限で自動実行の処理が行えないため、ログの収集が半自動になっています。）</p>
      <p>既に運用されてる <a href="http://utils.es.land.to/bo/index.php">バトオペ晒されID検索</a> と機能面での違いはありません。</br>
      現行運用版のレンタルサーバの制限・運営の終了などがない限り、現行運用版の更新停止はしないつもりです。</p>
    </div>
    <hr>
    <div>
      <a id="how"></a>
      <h3>ID の集計方法について</h3>
      <p>2ちゃんねるのネットウォッチ板・ロボットゲー板より「ガンダムバトルオペレーション晒し」と名のついたスレッドを取得し、レスで言及された PSN ID を集計しています。</p>
      <p>レス内で PSN ID だと判断しているのは下記の条件に当てはまる文字列です。</p>
      <ul>
          <li>アルファベットからはじまり、アルファベット, 数字, ハイフン, アンダースコア で構成された4文字<small>(※)</small>から16文字の文字列</li>
      </ul>
      <p>PSN ID でない文字列の対処のため、以下の条件で除外を行っています。</p>
      <ul>
          <li>頻出文字列（Twitter, Skype, Youtube など）に関しては、ブラックリスト方式で除外</li>
          <li>ID: ***** という形式で記載されたものは除外（2ch のレスがそのままコピペされている場合の対処）</li>
          <li>http, ttp からはじまる URL らしいものは除外</li>
      </ul>
      <small>※ PSN IDの最小文字数は3文字ですが、3文字で判定を行うとノイズが多くなってしまうので、最小4文字としています。</small>
    </div>
    <hr>
{% endblock %}
