<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="static/css/style.css">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="static/vender/css/bootstrap.cosmo.min.css">
    {# 追加スタイルシート #}
    {% block style %}{% endblock %}
    
    <title>バトオペ晒されID検索</title>
</head>

<body>

  <div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">バトオペ晒されID検索</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if page_type == 0 %}class="active"{% endif %}><a href="/">ID検索</a></li>
            <li {% if page_type == 1 %}class="active"{% endif %}><a href="/ranking">ランキング</a></li>
            <li {% if page_type == 2 %}class="active"{% endif %} class="dropdown">
              <a href="/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">このサイトについて <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/about">Action</a></li>
                <li><a href="/about">Another action</a></li>
                <li><a href="/about">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    {# ページのコンテンツ部分 #}
    {% block content %}{% endblock %}

  </div> <!-- /container -->

  <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  {# 追加のスクリプト #}
  {% block script %}{% endblock %}
</body>
</html>
