{% extends "base.html" %}

{% block style %}
    <style>
    </style>
{% endblock %}

{% block content %}

{% if user is not none %}

    <div class="alert alert-success" role="alert">
      {{ user.count }}件見つかりました。最新の{{params|length}}件を表示します。
    </div>

{% for param in params %}
    <div class="well">
    {{ param.number }} ：<a href="mailto:sage"><b>{{ param.author }}</b></a>：{{ param.at.strftime('%Y/%m/%d %H:%M:%S') }} {{ param.authorid }}</br>
    {% for line in param.body.splitlines() %}
        {{ line }}</br>
    {% endfor %}
    </div>
{% endfor %}

{% else %}
    <div class="alert alert-warning" role="alert">
      <strong>{{ user.id }}</strong> というユーザーは見つかりませんでした。
    </div>
{%endif %}

{% endblock %}

{% block script %}
  <script>
  </script>
{% endblock %}