{% extends "base.html" %}

{% block style %}
    <style>
      strong { color: #ff0000; font-size: larger; }
    </style>
{% endblock %}

{% block content %}

{% if user is not none %}

    <div class="alert alert-success" role="alert">
      {{ user.count }}件見つかりました。最新の{{ params|length }}件を表示します。
    </div>

{% for param in params %}
    <div class="well">
      <p><a href="{{ param.thread.url }}/{{ param.number }}">{{ param.thread.title|safe }}</a></p>
      {{ param.number }} ：
      
      {% if param.mail|length == 0 %}
        <font color="green"><b>{{ param.author }}</b></font>
      {% else %}
        <a href="mailto:{{ param.mail }}"><b>{{ param.author }}</b></a>
      {% endif %}
      
      ：{{ param.at.strftime('%Y/%m/%d(%a) %H:%M:%S.%f')[:-4] }} ID:{{ param.authorid }}</br>
      {% for line in param.body.splitlines() %}
          {{ line|replace_id(user.id) }}</br>
      {% endfor %}
    </div>
{% endfor %}

{% else %}
    <div class="alert alert-warning" role="alert">
      <strong>{{ user.id }}</strong> というユーザーは見つかりませんでした。
    </div>
{% endif %}

{% endblock %}

{% block script %}
  <script>
  </script>
{% endblock %}